.grid {
    border: 0.1rem solid black;
    border-radius: 10;
    width: 1.5rem;
    height: 1.5rem;
    background-color: blue;
}

.row {
    display: flex;
    margin: 0;
    padding: 0;
    border: none;
    flex-direction: column;
    flex: 0 1 auto;
}

.col {
    display: flex;
    flex: 0 1 auto;
}

.red {
    background-color: red;
}

#green {
    background-color: green;
}
#container {
    display: flex;
    flex: 1;
    width: 100vh;
    height: 100vh;
    margin: 0;
    padding: 1.5rem;
    border: none;
    background-color: darkgray;
}

body {
    border: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}